

.pagination div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;
    color: black;

    cursor: pointer;
    background-color: #ddd;
    margin: 0 4px 0 4px;

    border-radius: 7px;
}
.active div {
    background-color: #4CAF50;
    color: white;
}

.pagination div:hover:not(.active) {background-color: #4CAF50;}
